body,
html {
margin: 0px;
padding: 0px;
position: fixed;
background: black;
width: 100vw;
height: 100vh;
}

h1{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}